# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Vercel builds
.vercel
.vercel/
.vercel_build_output

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# AI Memory and context
.ai_memory.md
.claude/
